---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/style.css";
---

<!doctype html>
<html lang="da">
  <head>
    <meta name="robots" content="noindex" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>About Us</title>
  </head>
  <Header />
  <img src="/category/Bracelet_cb_silver-on.webp" alt="" />

  <div class="background">
    <p class="aboutus_text">Hos Müllers & MORE finder du smykker fra en masse fede, danske mærker. <br /> Vi har noget for alle - fra de klassiske styles til de trendy statement smykker. Træd ind i vores smykkeunivers, og lad dig forføre af smykker, der skaber opmærksomhed og tilføjer personlighed til enhver stil og til enhver begivenhed. <br /> Vi forhandler Enamel, Camille Brinch, Sif Jakobs, Stine A, Jane Kønig, Jeberg, Maria Black, Pernille Corydon, Studio Z, Aqua Dulce, Son of Noa, Rosefield, Sistie og Sistie 2nd.</p>
  </div>

  <Footer />

  <style>
    @media (max-width: 800px) {
      .aboutus_text {
        text-align: center;
        padding: 40px;
        line-height: 40px;
      }
      img {
        max-width: 400px;
        height: auto;
        display: block;
        margin: auto;
        padding-top: 50px;
      }
      .background {
        background-color: #e3ded6;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 50px;
        margin-top: 60px;
      }
    }
    @media (min-width: 800px) {
      .aboutus_text {
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
        line-height: 40px;
      }
      img {
        max-width: 500px;
        height: auto;
        display: block;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
      }
      .background {
        background-color: #e3ded6;
        margin-left: 250px;
        margin-right: 250px;
        border-radius: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  </style>


</html>
