---
import Herotext from "../components/Herotext.astro";
import Carousel from "../components/Carousel.astro";
import Carouselsection from "../components/Carouselsection.astro";
import Community from "../components/Community.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Headline from "../components/Headline.astro";
import Hero from "../components/Hero.astro";
import Navigation from "../components/Navigation.astro";
import Product from "../components/Product.astro";
import Productpage from "../components/Productpage.astro";
import Productsection from "../components/Productsection.astro";
import Signup from "../components/Signup.astro";
import Some from "../components/Some.astro";
import Video from "../components/Video.astro";
import Welcome from "../components/Welcome.astro";
import "../styles/style.css";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <Hero />
    <Carouselsection />
    <Video />
    <Community />
    <Signup />
    <Footer />
  </body>
</html>
