---
import Carousel from "./Carousel.astro";
---

<div class="nyheder">
  <p>2025</p>
  <h2>NYHEDER</h2>
</div>
<div>
  <Carousel />
</div>

<style>
  .nyheder {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 3rem;
  }

  p {
    margin: 3px;
  }
  h2 {
    margin: 0;
  }
</style>
