---
import Product from "./Product.astro";
---

<div class="carousel">
  <div class="grid-wrapper">
    <div class="grid-container">
      <Product />
    </div>
  </div>
</div>

<style>
  .carousel {
    overflow-x: auto;
  }
  .grid-wrapper {
    /* overflow: hidden; */
    padding: 3rem;
  }

  @media (min-width: 800px) {
    .grid-container {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 400px; /* eller en anden fast bredde */
      gap: 20px;
      transition: transform 0.3s ease;
    }
  }

  @media (max-width: 800px) {
    .grid-container {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 240px; /* eller en anden fast bredde */
      gap: 20px;
      transition: transform 0.3s ease;
    }
  }
</style>
