---
import Headline from "./Headline.astro";
import Some from "../components/Some.astro";
---

<section>
  <Headline />
  <Some />
</section>

<style>
  section {
    background-color: var();
    padding: 2rem;
  }
</style>
