---
import Headline from "./Headline.astro";
import Some from "../components/Some.astro";
---

<section>
  <h2>COMMUNITY</h2>
  <Some />
</section>

<style>
  h2 {
    font-family:;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: xx-large;
  }
  section {
    background-color: var();
    padding: 2rem;
    margin-bottom: 2rem;
  }
</style>
