<section>
  <h2>VORES BUTIK</h2>

  <div class="footer_box">
    <p>TRUST SCORE</p>
    <img class="trustpilot" src="/footer/trustpilot.webp" alt="4.5 stjerner" />
    <img class="line" src="/footer/line.webp" alt="sort linje" />
    <img class="butik" src="/footer/butik.webp" alt="Ros torv illustration" />
    <img class="line" src="/footer/line.webp" alt="sort linje" />
    <img class="socialmedia" src="/footer/socialmedia.webp" alt="Tiktok, Instagram, Facebook" />
    <p>SOCIAL MEDIA</p>
  </div>

  <p>RO's Torv 1, 4000 Roskilde</p>

  <div class="jura">
    <p>Cookies</p>
    <p>Handelsbetingelser</p>
    <p>Persondatapolitik</p>
  </div>

  <div class="container">
    <button>GO TO TOP</button>
  </div>
  <div class="container">
    <img class="button_line" src="/footer/line.webp" alt="sort linje" />
  </div>
</section>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img {
    height: auto;
    border-radius: 10px;
  }

  section {
    background-color: #ffffff;
    padding: 3rem;
  }

  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 100;
    text-align: center;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
  }

  .jura p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
  }
  .jura {
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  button {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border: #ffffff;
    font-weight: bold;
  }
  .button_line {
    width: 5.3%;
    height: 5.3%;
  }

  .container {
    display: flex;
    justify-content: flex-end;
  }

  /***********MIDTE CONTENT**********/
  .footer_box {
    display: flex;
    justify-content: space-between;

    align-items: center;
  }

  .footer_box p {
    font-size: small;
  }

  .trustpilot {
    width: 10%;
    height: 10%;
  }

  .butik {
    width: 35%;
    height: 35%;
  }

  .socialmedia {
    width: 10%;
    height: 10%;
  }

  .line {
    width: 12%;
    height: 12%;
  }
</style>
