---
import Navigation from "./Navigation.astro";
---

<header>
  <div class="headerlogo">
    <img src="/svg/mullersandmore.svg" alt="logo" />
  </div>
  <div class="navigationplace">
    <Navigation />
  </div>

  <style>
    header {
      position:;
      background-color: #ffffff;
    }

    @media (min-width: 800px) {
      header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      .headerlogo {
        grid-column: 2/3;
        width: 50%;
        padding-left: 120px;
      }

      .navigationplace {
        padding-top: 10px;
        grid-column: 3/4;
      }
    }
    @media (max-width: 800px) {
      .headerlogo {
        display: none;
      }
    }
  </style>
</header>
