---
import Herotext from "./Herotext.astro";
---

<div class="herosection">
  <img src="public/canon.png" alt="img" />
  <Herotext />
</div>

<style>
  .herosection {
    background-color: #e3ded6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
</style>
