---
import Headline from "./Headline.astro";
import Knap from "./Knap.astro";
---

<div class="herogrid">
  <div class="herotextbox">
    <h2 class="enameltext">ENAMEL SS25</h2>
    <h2 class="collectiontext">COLLECTION.</h2>
    <p>Oplev en kollektion skabt til at fremhæve din naturlige elegance. ENAMEL SS25 kombinerer tidløst design med moderne detaljer perfekt til både hverdag og særlige anledninger. Hver smykke er håndlavet med omtanke og fremstillet i materialer af høj kvalitet. Gør dit look personligt og uforglemmeligt.</p>
    <a href="">SHOP ENAMEL</a>
  </div>
</div>

<style>
  .herotextbox {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
  }
  .herotextbox a:hover {
    background-color: #e0f1fe;
    transition: 0.2s;
  }
  .enameltext {
    font-size: 40px;
  }
  .collectiontext {
    font-size: 60px;
  }
  .herogrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .herotextbox p {
    padding-left: 20px;
    line-height: 30px;
    padding-right: 20px;
  }
  .herotextbox a {
    padding-left: 20px;
    text-decoration: none;
    color: #343434;
    display: inline-block;
    /* border-radius: 10px; */
    border: 2px solid;
    margin-left: 20px;
    margin-right: 540px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: left;
  }

  @media (max-width: 800px) {
    .herogrid {
      display: initial;
    }
    .herotextbox a {
      padding-left: 20px;
      text-decoration: none;
      color: #343434;
      display: inline-block;

      border: 2px solid;
      margin-left: 20px;
      margin-right: 450px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 30px;
      text-align: left;
    }
  }
</style>
