---
import Headline from "./Headline.astro";
import Knap from "./Knap.astro";
---

<div class="herotextbox">
  <Headline />
  <h2>ENAMEL SS25 COLLECTION.</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores odit sint quod excepturi autem enim sit repudiandae. Consequuntur, quam dicta obcaecati itaque quas perspiciatis est culpa mollitia, sapiente nisi exercitationem.</p>
  <p>Shop Enamel</p>
  <Knap />
</div>

<style>
  .herotextbox {
    display: flex;
    flex-direction: column;
  }
</style>
