---
import Herotext from "./Herotext.astro";
---

<div class="herosection">
  <img class="heroimg" src="/category/Halskaede_sistie_silver-on.webp" alt="img" />
  <Herotext />
</div>

<style>
  .herosection {
    background-color: #e3ded6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .heroimg {
    width: 50%;
  }

  @media (max-width: 800px) {
    .herosection {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .heroimg {
      width: 100%;
    }
  }
</style>
