---
import Headline from "./Headline.astro";
import Knap from "./Knap.astro";
---

<div class="herogrid">
  <div class="herotextbox">
    <h2 class="enameltext">ENAMEL <br /> JEWELRY SS25</h2>
    <h2 class="collectiontext">COLLECTION.</h2>
    <p>Oplev en kollektion skabt til at fremhæve din naturlige elegance. ENAMEL SS25 kombinerer tidløst design med moderne detaljer perfekt til både hverdag og særlige anledninger. Hver smykke er håndlavet med omtanke og fremstillet i materialer af høj kvalitet. Gør dit look personligt og uforglemmeligt.</p>

    <a href="/productlist?brand=Enamel">SHOP ENAMEL</a>
  </div>
</div>

<style>
  .herotextbox {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }
  .herotextbox h2 {
    margin: 1rem;
  }
  .herotextbox a:hover {
    background-color: #e0f1fe;
    transition: 0.2s;
  }
  .enameltext {
    font-size: 40px;
  }

  /* .herotextbox a {
    font-weight: bolder;
  } */
  .collectiontext {
    font-size: 60px;
  }
  .herogrid {
    display: grid;
    grid-template-rows: 1fr;
  }
  .herotextbox p {
    padding-left: 20px;
    line-height: 30px;
    padding-right: 20px;
  }
  .herotextbox a {
    border: 2px solid;
    color: #343434;
    display: inline-block;
    /* border-radius: 10px; */
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
  }

  @media (max-width: 800px) {
    .herogrid {
      display: initial;
    }
    .herotextbox a {
    }
  }
</style>
