<nav>
  <div class="menu">
    <div class="menu_item">
      <a href="#">SHOP</a>

      <div class="dropdown">
        <div class="shop_categories">
          <div class="shop_overskrift">
            <h2>ALLE SMYKKER <br /> NYHEDER</h2>
            <p class="pategorip">KATEGORIER</p>
          </div>
          <div class="shop_categoryimg">
            <div>
              <p>RINGE</p>
              <a href="/productlist?category=RINGE"><img src="/category/Ring_jk_gold.webp" alt="g" /></a>
            </div>
            <div>
              <p>ØRERINGE</p>
              <a href="/productlist?category=ØRERINGE"><img src="/category/Earring_enamel_gold.webp" alt="g" /></a>
            </div>
            <div>
              <p>ARMBÅND</p>
              <a href="/productlist?category=ARMBÅND"><img class="armband_img" src="/category/Bracelet_cb_silver.webp" alt="g" /></a>
            </div>
            <div>
              <p>HALSKÆDER</p>
              <a href="/productlist?category=HALSKÆDER"><img src="/category/Halskaede_cb_gold.webp" alt="g" /></a>
            </div>
            <div>
              <p>SØLV</p>
              <a href="/productlist?category=SØLV"><img class="silver_img" src="/category/Earring_cb_silver.webp" alt="g" /></a>
            </div>
            <div>
              <p>GULD</p>
              <a href="/productlist?category=GULD"><img class="gold_img" src="/category/Ring_cb_gold.webp" alt="g" /></a>
            </div>
          </div>
        </div>
        <img class="shop_img" src="/category/Ring_sistie_silver-on.webp" alt="ff" />
      </div>
    </div>

    <div class="menu_item">
      <a href="#">BRANDS</a>
      <div class="dropdown">
        <div class="brands_container">
          <a href="/productlist?brand=JaneKønig"><img class="brands_img" src="/brand_logo/logo_janekoenig.webp" alt="idk" /></a>
          <a href="/productlist?brand=MariaBlack"><img class="brands_img" src="/brand_logo/logo_janekoenig.webp" alt="idk" /></a>
          <a href="/productlist?brand=Enamel"><img class="brands_img" src="/brand_logo/logo_enamel.webp" alt="idk" /></a>
          <a href="/productlist?brand=CamilleBrinch"><img class="brands_img" src="/brand_logo/logo_camillebrinch.webp" alt="idk" /></a>
          <a href="/productlist?brand=Sistie"><img class="brands_img" src="/brand_logo/logo_sistie.webp" alt="idk" /></a>
          <a href="/productlist?brand=StineA"><img class="brands_img" src="/brand_logo/logo_janekoenig.webp" alt="idk" /></a>
        </div>
      </div>
    </div>

    <a href="/aboutus">ABOUT US</a>
  </div>

  <div class="burgerwrap">
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</nav>

<style>
  nav {
    /* position: relative; */
  }
  a {
    text-decoration: none;
    color: #343434;
  }
  .menu_item a:hover {
    color: #e0f1fe;
    transition: 0.2s;
  }
  .dropdown {
    display: none;
    z-index: 10;
    padding: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #e0f1fe;
  }
  .brands_img {
    border-radius: 70px;
  }

  .menu_item {
    position: relative;
  }

  .shop_categories img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.3);
  }

  @media (min-width: 800px) {
    .pategorip {
      padding-left: 20px;
    }
    .menu_item:hover .dropdown {
      display: flex;
      flex-direction: row;
    }

    .armband_img {
      height: 60px;
      width: auto;
      padding-top: 20px;
    }
    .gold_img {
      height: 60px;
      width: auto;
    }
    .silver_img {
      height: 60px;
      width: auto;
    }

    .brands_img {
      height: 120px;
      width: auto;
    }
    .brands_container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 20px;
      width: 100%;
      align-items: center;
      justify-items: center;
      padding: 20px;
    }

    .dropdown {
      flex-direction: row;
      position: fixed;
      width: 100vw;
      top: 60px;
      left: 0;
    }

    .shop_categories {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    .shop_categoryimg {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      max-height: 300px;
      padding-left: 50px;
    }

    .shop_img {
      width: 50%;
      height: 500px;
      align-items: center;
      object-fit: cover;
      margin-right: 10px;
    }

    .shop_categoryimg img {
      max-height: 100px;
      width: auto;
      display: block;
    }

    .menu {
      display: flex;
      gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  @media screen and (max-width: 800px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: 94px;
      left: 0;
    }
    .menu_item {
      width: 100%;
    }
    .menu_item > a {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
    .menu a {
      display: block;
      padding: 10px;
      color: #333333;
      text-decoration: none;
      transition: color 0.3s;
      text-align: end;
    }
    .menu_item:hover .dropdown {
      display: flex;
    }

    .burgerwrap {
      padding-top: 30px;
      padding-bottom: 20px;
    }

    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }
    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }
    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }
    nav.active .menu {
      display: block;
      background-color: #ffffff;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }

    .burger {
      width: 30px;
      height: 20px;
      cursor: pointer;
      display: block;
    }

    .burger .line {
      width: 100%;
      height: 2px;
      background-color: #333;
      margin-bottom: 5px;
      transition: 0.2s linear;
    }

    .dropdown {
      display: none;
      flex-direction: column;
      padding-left: 10px 0;
      position: absolute;
      width: 100vw;
      z-index: 100;
      top: 100%;
      left: 0;
    }
    .shop_categoryimg {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
      text-align: center;
      padding-right: 80px;
    }
    .shop_categoryimg img {
      max-height: 100px;
      width: auto;
      padding-right: 75px;
    }
    .armband_img {
      height: 60px;
      width: auto;
    }
    .gold_img {
      height: 60px;
      width: auto;
    }
    .silver_img {
      height: 60px;
      width: auto;
    }
    .brands_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
    }
    .shop_img {
      display: none;
    }
    .shop_overskrift p {
      padding-left: 18px;
      padding-bottom: 50px;
    }
    .brands_container img {
      max-height: 100px;
      width: auto;
      margin-right: 111px;
    }
  }
</style>

<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");

  function toggleBurgerMenu() {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  }

  function closeBurgerMenu() {
    burger.classList.remove("active");
    nav.classList.remove("active");
  }

  burger.addEventListener("click", toggleBurgerMenu);
  menu.addEventListener("click", closeBurgerMenu);
</script>
