<nav>
  <ul class="menu">
    <li class="dropdown">
      <a href="#">SHOP</a>
      <ul class="dropdown-content shop-dropdown">
        <div class="shop_flex">
          <div>
            <div class="shop_overskrift">
              <h2 class="overskriftoverskrift">ALLE SMYKKER <br /> NYHEDER</h2>
              <p>KATEGORIER:</p>
            </div>
            <div class="shop_options">
              <div>
                <p class="categories_p">RINGE</p>
                <li><img src="public/category/Earring_enamel_gold.webp" alt="g" /></li>
              </div>
              <div>
                <p class="categories_p">ØRERINGE</p>
                <li><img src="public/category/Earring_enamel_gold.webp" alt="g" /></li>
              </div>
              <div>
                <p class="categories_p">ARMBÅND</p>
                <li><img src="public/category/Earring_enamel_gold.webp" alt="g" /></li>
              </div>
              <div>
                <p class="categories_p">HALSKÆDER</p>
                <li><img src="public/category/Earring_enamel_gold.webp" alt="g" /></li>
              </div>
              <div>
                <p class="categories_p">SØLV</p>
                <li><img src="public/category/Earring_enamel_gold.webp" alt="g" /></li>
              </div>
              <div>
                <p class="categories_p">GULD</p>
                <li><img src="public/category/Earring_enamel_gold.webp" alt="g" /></li>
              </div>
            </div>
          </div>
          <img class="shop_img" src="public/category/Ring_sistie_silver-on.webp" alt="blabla" />
        </div>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#">BRANDS</a>
      <ul class="dropdown-content brands-dropdown">
        <div class="brands_dropdown">
          <li><img src="public/brand_logo/logo_camillebrinch.webp" alt="" /></li>
          <li><img src="public/brand_logo/logo_enamel.webp" alt="" /></li>
          <li><img src="public/brand_logo/logo_janekoenig.webp" alt="" /></li>
          <li><img src="public/brand_logo/logo_sistie.webp" alt="" /></li>
          <li><img src="public/brand_logo/logo_sistie.webp" alt="" /></li>
          <li><img src="public/brand_logo/logo_sistie.webp" alt="" /></li>
        </div>
      </ul>
    </li>
    <li><a href="#">ABOUT US</a></li>
  </ul>
  <div class="burgerwrap">
    <img class="headerlogo" src="public/svg/mullersandmore.svg" alt="logo" />

    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</nav>

<style>
  .burgerwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .categories_p {
    text-decoration: underline;
    text-align: justify;
  }
  .dropdown-content .shop_options img {
    width: 60%;
    height: auto;
    align-items: end;
  }
  .headerlogo {
    max-width: 50%;
    height: auto;
  }
  .dropdown-content .shop_img {
    width: 100%;
    height: 500px;
    align-items: center;
    object-fit: cover;
  }
  .shop_overskrift p {
    font-size: 26px;
  }
  .overskriftoverskrift {
    text-align: left;
  }
  .shop_overskrift {
    padding-left: 90px;
  }
  .shop_flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .shop_options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 90px;
  }
  .brands_dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .dropdown .brands_dropdown img {
    border-radius: 50%;
    width: 150px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
    position: relative;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu > li {
    position: relative;
    margin-right: 20px;
  }

  .menu > li:last-child {
    margin-right: 0;
  }

  .menu a {
    display: block;
    padding: 10px;
    color: #333333;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
    height: 100%;
  }

  .menu a:hover {
    color: #e0f1fe;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #e0f1fe;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
  }

  .dropdown-content li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-content li a {
    padding: 10px 20px;
    display: block;
    white-space: nowrap;
    color: #333;
  }

  .dropdown-content img {
    width: 60px;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s;
    cursor: pointer;
  }

  .dropdown-content li a:hover {
    background-color: #f0f0f0;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  @media (max-width: 800px) {
    .burgerwrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 20px;
    }

    .burger {
      width: 30px;
      height: 20px;
      cursor: pointer;
      display: none;
    }
    .headerlogo {
      width: 50%;
      height: auto;
      padding-right: 40px;
    }

    .dropdown-content .shop_options img {
      width: 100%;
      height: auto;
    }
    .menu a {
      display: block;
      padding: 10px;
      color: #333333;
      text-decoration: none;
      transition: color 0.3s;
      text-align: end;
      height: 100%;
    }
    .brands_dropdown {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      padding: 30px;
      justify-content: center;
      margin-left: 40px;
    }
    .brands_dropdown img {
      padding: 30px;
      align-items: center;
      width: 50%;
      height: auto;
      border-radius: 50%;
    }
    .shop_options {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      padding-left: 225px;
    }
    .shop_options img {
      width: 50%;
    }
    .shop_flex .shop_options .categories_p {
      font-size: 15px;
    }
    .shop_flex .shop_overskrift {
      padding-left: 225px;
    }

    .shop_img {
      display: none;
    }
    .burger .line {
      width: 100%;
      height: 2px;
      background-color: #333333;
      margin-bottom: 5px;
      transition: 0.2s linear;
    }
    .dropdown .dropdown-content {
      margin-top: 140px;
    }
  }
  @media screen and (max-width: 800px) {
    .menu {
      display: none;
    }
    .burger {
      display: block;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }

    nav.active .menu {
      display: block;
      background-color: #ffffff;
      position: absolute;
      top: 94px;
      left: 0;
      width: 100%;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }

    nav.active .menu p {
      margin: 10px 20px;
    }

    nav.active .menu p {
      font-size: 24px;
    }
  }
</style>

<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");

  burger.addEventListener("click", burgerClick);
  function burgerClick() {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  }
  menu.addEventListener("click", menuClick);
  function menuClick() {
    burger.classList.remove("active");
    nav.classList.remove("active");
  }
</script>
