---
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<div class="community_container">
  <div class="box1">
    <div id="logo_container">
      <div id="logo_sprite"></div>
    </div>
    <div>
      <img src="public/community/post1.webp" alt="Instagram" />
    </div>
    <div class="flex">
      <div id="heart_container">
        <div id="heart_sprite"></div>
      </div>
      <div id="save_container">
        <div id="save_sprite"></div>
      </div>
    </div>
  </div>

  <div class="box2">
    <div id="logo_container">
      <div id="logo_sprite"></div>
    </div>
    <div>
      <img src="public/community/post2.webp" alt="Instagram" />
    </div>
    <div class="flex">
      <div id="heart_container">
        <div id="heart_sprite"></div>
      </div>
      <div id="save_container">
        <div id="save_sprite"></div>
      </div>
    </div>
  </div>

  <div class="box3">
    <div id="logo_container">
      <div id="logo_sprite"></div>
    </div>
    <div>
      <img src="public/community/post3.webp" alt="Instagram" />
    </div>
    <div class="flex">
      <div id="heart_container">
        <div id="heart_sprite"></div>
      </div>
      <div id="save_container">
        <div id="save_sprite"></div>
      </div>
    </div>
  </div>

  <div class="box4">
    <div id="logo_container">
      <div id="logo_sprite"></div>
    </div>
    <div>
      <img src="public/community/post4.webp" alt="Instagram" />
    </div>
    <div class="flex">
      <div id="heart_container">
        <div id="heart_sprite"></div>
      </div>
      <div id="save_container">
        <div id="save_sprite"></div>
      </div>
    </div>
  </div>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .community_container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 28px;
    }
    @media (max-width: 800px) {
      .community_container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
      }
      .box2,
      .box3,
      .box4 {
        visibility: hidden;
        height: 0;
        width: 0;
      }
    }

    .box1,
    .box2,
    .box3,
    .box4 {
      display: grid;
      grid-column: auto;
    }

    #heart_container {
      width: 10%;
      aspect-ratio: 500/500;
    }
    #save_container {
      width: 10%;
      aspect-ratio: 500/500;
    }
    #logo_container {
      width: 15%;
      aspect-ratio: 500/500;
    }

    #heart_sprite {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-image: url(public/svg/heart.svg);
    }
    #save_sprite {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-image: url(public/svg/save.svg);
    }
    #logo_sprite {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-image: url(public/svg/logo.svg);
    }

    .flex {
      display: flex;
      justify-content: space-between;
    }
  </style>
</div>
