<section>
  <div>
    <h2>COMMUNITY</h2>
  </div>
  <div class="community_container">
    <div class="box1">
      <img src="public/svg/logo.svg" alt="Logo" />
      <img src="public/community/post1.webp" alt="Instagram" />
      <img src="publiv/svg/heart.svg" alt="Like" />
      <img src="public/svg/save.svg" alt="Save" />
    </div>

    <div class="box2">
      <img src="public/svg/logo.svg" alt="Logo" />
      <img src="public/community/post2.webp" alt="Instagram" />
      <img src="publiv/svg/heart.svg" alt="Like" />
      <img src="public/svg/save.svg" alt="Save" />
    </div>

    <div class="box3">
      <img src="public/svg/logo.svg" alt="Logo" />
      <img src="public/community/post3.webp" alt="Instagram" />
      <img src="publiv/svg/heart.svg" alt="Like" />
      <img src="public/svg/save.svg" alt="Save" />
    </div>

    <div class="box4">
      <img src="public/svg/logo.svg" alt="Logo" />
      <img src="public/community/post4.webp" alt="Instagram" />
      <img src="publiv/svg/heart.svg" alt="Like" />
      <img src="public/svg/save.svg" alt="Save" />
    </div>
  </div>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    img {
      width: 100%;
      height: auto;
    }

    section {
      background-color: #ffffff;
    }
    h2 {
      color: #786355;
    }

    .community_container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
    }

    @media (min-width: 800px) {
      .box1,
      .box2,
      .box3,
      .box4 {
        background-color: var(--secondary);
        color: var(--secondary);
        height: 60px;
        width: 250px;
        border: 2px solid var(--tetiary);
        box-shadow: 10px 10px lightgray;
        margin-top: 40px;
        align-items: center; /* Centrer vertikalt */
        display: flex;
        justify-content: center; /* Centrer horisontalt */
      }
    }
  </style>
</section>
