<div class="videowrap">
  <video class="video" autoplay muted loop playsinline src="video/mogmvideo.mp4"></video>
</div>

<style>
  .videowrap {
    background-color: #e3ded6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .video {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow-x: hidden;
    opacity: 90%;
  }

  @media (max-width: 800px) {
    .video {
      width: auto;
      height: 100%;
    }
  }
</style>
