<div class="videowrap">
  <video class="video" autoplay muted loop playsinline src="video/mogmvideo.mp4"></video>
</div>

<style>
  .videowrap {
    background-color: #e3ded6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video {
    width: auto;
    height: 80%;
    object-fit: cover;
    overflow-x: hidden;
  }
</style>
