<div class="videowrap">
  <video class="video" autoplay muted loop playsinline src="video/mogmvideo.mov"></video>
</div>

<style>
  .videowrap {
    background-color: #e3ded6;
    height: 100vh; /* Fyld hele højden hvis ønsket */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video {
    width: auto;
    height: 80%;
    object-fit: cover; /* Sørger for at videoen fylder området pænt */
    overflow-x: hidden;
  }
</style>
